<div class="sidebar"><ul>
    <li><a routerLinkActive="active" [routerLink]="'dashboard'">Dashboard</a></li>
    <li><a routerLinkActive="active" [routerLink]="'loans'">Loans</a></li>
    <li><a routerLinkActive="active" [routerLink]="'customers'">Customers</a></li>
    <li><a routerLinkActive="active" [routerLink]="'deposits'">Deposits</a></li>
    <li><a routerLinkActive="active" [routerLink]="'loan-types'">Loan Plans</a></li>
    <li><a routerLinkActive="active" [routerLink]="'reports'">Reports</a></li>
</ul></div>
